build*/
OutputFiles*/
*~
*.avi
*.pdf
*.png
*.svg
src/GUI/RT.pro.user
Figures/state/
InputFiles/X.dat
InputFiles/inTum.dat
InputFiles/inVes.dat
InputFiles/morrisDim.dat
InputFiles/sobolDim.dat
InputFiles/tissueDim.dat
R/.Rhistory
R/.RData
Matlab/test*
R/test*
Recurrence/
